<!-- app/views/layouts/_footer.html.erb -->
<div class="footer mt-5">
  <div class="footer-links text-center">
    <a href="#" class="me-3"><i class="fab fa-github"></i></a>
    <a href="#" class="me-3"><i class="fab fa-instagram"></i></a>
    <a href="#" class="me-3"><i class="fab fa-facebook"></i></a>
    <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
    <a href="#" class="me-3"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright text-center m-3">
    Un site propulsé avec <i class="fas fa-heart"></i> par Aukera
  </div>
</div>
