<h1>Raclettes</h1>

<div>
  <% @raclettes.each do |raclette| %>
    <div class="raclette-card">
      <h2><%= raclette.category %></h2>
      <p>Capacity: <%= raclette.capacity %> persons</p>
      <p>Price: <%= raclette.price %>€</p>
      <p><%= raclette.description %></p>
    </div>
  <% end %>
</div>
