.container {
  width: 60%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.show-container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .show-container {
    width: 100%; 
  }
}
